@import url('https://fonts.googleapis.com/css?family=Neucha');

* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    font-family: Lato;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#app {
    flex: 1 100%;
    display: flex;
    flex-direction: column;
}

.App {
    flex: 1 auto;
    display: flex;

    display: grid;
    grid-template-columns: 200px auto 200px;
    grid-template-rows: 50px auto;
    grid-template-areas: 
    "navigation navigation navigation"
    "team1 map team2";
}

.team {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    .header {
        font-size: 25px;
        font-weight: 900;
        padding: 15px 0;
        border-bottom: 1px solid;
    }
    .score {
        flex: 1 0 auto;
        display: flex;
        align-items: center;
        font-size: 70px;
        font-weight: 900;
    }
}

button {
    height: 30px;
    border: none;
    width: 150px;
    border-radius: 3px;
    cursor: pointer;
    background: #ddd;
    font-weight: 500;
}

.Navigation {
    grid-area: navigation;
    background: #111111;
    color: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Map {
    grid-area: map;
}

.team-1 {
    border-color: hsla(127, 63%, 15%, 1.0);
    color: hsla(127, 63%, 15%, 1.0);
    background: #7FDBFF;
    grid-area: team1;
}

.team-2 {
    grid-area: team2;
    border-color: hsla(3, 100%, 25%, 1.0);
    color: hsla(3, 100%, 25%, 1.0);
    background: #FF4136;
}